.form {

    &__group {
        margin-bottom: 15px;
    }

    &__input {
        width: 100%;
        border-radius: 10px;
        padding: 15px;
        font-size: 17px;
        border: none;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
        font-family: $font-roboto;
        outline: none;

        &:focus {
            box-shadow: inset 0px 0px 2px 1px rgba($green, 1);
        }
    }

    &__label {
        display: block;
        margin-bottom: 5px;
        font-size: 11px;
        font-family: $font-roboto;
        color: $white;
    }

    &__text {
        color: $white;
        margin-bottom: 30px;
        @media (min-width: $sm) and (max-width: $md-max) {
            order: 5;
        }
    }

    &--modal {
       .form__text {
           color: $black;
        }
       .form__label {
           color: $medium;
        }
        .form__group:last-child {
            margin-bottom: 0;
        }
    }

}