.header {
    transition: .2s;

    &.js-fixed {
        position: fixed;
        background-color: $white;
        box-shadow: 0px 4px 8px rgba(6, 25, 40, 0.05);
        z-index: 1;

        .header__phone-text,
        .logo__color {
            color: $black;
        }

        .social__link,
        .btn-chat__lock {
            background-color: $bg;
        }
    }

    &__inner {
        min-height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__mail {
        display: flex;
        align-items: center;

        &-text {
            margin-left: 8px;
            color: $green;
        }

        @media (max-width: $xs-max) {
            margin-left: auto;
        }
    }

    &__phone {
        display: flex;
        align-items: center;

        @media (max-width: $xs-max) {
            margin-left: 8px;
            margin-right: 20px;
        }

        &-text {
            font-size: 22px;
            margin-left: 8px;
            color: $white;
        }

        .phone {
            height: 13px;
        }
    }

    &__chat {
        display: flex;
        align-items: center;

        &-text {
            color: $green;
            margin-right: 12px;
        }
    }

    .social {
        @media (max-width: $xs-max) {
            display: none;
        }

        @media (min-width: $xs) {
            &__item:not(:first-child) {
                margin-left: 5px;
            }
        }
    }
}