.hero {
    position: relative;
    background-image: url(../img/required/bg-hero_small.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 64px;

    @media (max-width: $sm-max) {
        background-attachment: fixed;
    }
    @media (min-width: $xs) {
        background-image: url(../img/required/bg-hero.jpg);
    }
    @media (min-width: $md) {
        height: 100vh;
        min-height: 800px;
    }

    &__header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__privilege {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
}