.promo {

    @media (min-width: $md) {
        display: flex;
        justify-content: space-between;
        padding: 60px 0;

        @media (min-width: $dsk) {
            padding: 90px 0;
        }
    }

    &__left {
        @media (max-width: $md-max) {
            padding: 40px 0;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: -15px;
                width: calc(100% + 30px);
                height: 1px;
                background-color: rgba(255, 255, 255, 0.1);
                @media (min-width: $sm) {
                   left: -48px;
                   width: calc(100% + 96px);
                }
            }
        }

        @media (max-width: $sm-max) {
            padding: 25px 0;
        }

        @media (min-width: $sm) and (max-width: $md-max) {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__right {
        padding: 30px 0;

        @media (min-width: $md) {
            width: 34%;
            padding: 0;
        }

        &-inner {
            @media (min-width: $md) {
                width: 290px;
            }
            @media (min-width: $sm) and (max-width: $md-max) {
                min-height: 200px;
            }
        }
    }

    &__btn {
        margin-top: 5px;

        @media (max-width: $sm-max) {
            width: 100%;
        }

        @media (min-width: $sm) and (max-width: $md-max) {
            margin-top: 65px;
        }

        @media (min-width: $md) {
            margin-top: 15px;
        }
    }

    &__title {
        color: $green;
        margin: 0 0 30px;

        &-text {
            display: inline-block;
            max-width: 500px;
        }

        @media (min-width: $sm) and (max-width: $dsk-max) {
            width: 100%;
        }
    }

    &__subtitle {
        color: $white;

        @media (max-width: $sm-max) {
            margin-bottom: 30px;
        }

        @media (min-width: $md) {
            width: 100%;
            margin-bottom: 60px;
        }
    }

    &__link {
        font-size: 22px;
        color: $green;
        letter-spacing: 0.02em;

        >.icon {
            font-size: 16px;
            margin-left: 8px;
            fill: none;
            stroke-width: 2px;
            stroke: currentColor;
        }

        &:hover,
        &:focus {
            color: $green_hover;
        }
    }

    &__text {
        color: $white;

        @media (max-width: $md) {
            padding-bottom: 0;

            &:after {
                display: none;
            }
        }
    }

    &__price {
        @media (max-width: $sm-max) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-old {
            position: relative;
            color: $green;
            display: inline-flex;
            line-height: 40px;

            @media (min-width: $sm) and (max-width: $md-max) {
                margin-bottom: 20px;
            }

            @media (min-width: $md) {
                margin-bottom: 5px;
            }

            &:after {
                content: "";
                position: absolute;
                transform: rotate(-29deg);
                left: 0;
                top: 15px;
                width: 70%;
                height: 2px;
                background-color: $white;
            }

            &-icon {
                display: flex;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: $green;
                color: $white;
                margin-left: 5px;

                >.icon {
                    font-size: 11px;
                    margin: auto;
                }
            }
        }

        &-actual {
            color: $white;
            display: flex;
            line-height: 66px;

            &-icon {
                display: flex;
                width: 52px;
                height: 52px;
                border-radius: 50%;
                background-color: $white;
                color: $black;
                margin-left: 5px;

                >.icon {
                    font-size: 18px;
                    margin: auto;
                }
            }
        }
    }

    &__main {
        @media (min-width: $sm) and (max-width: $md-max) {
            display: flex;
            justify-content: space-between;
        }

        &-item {
            @media (min-width: $sm) and (max-width: $md-max) {
                width: 33%;
            }
        }
    }

    &__form {
        display: none;

        &-wrap {
            @media (min-width: $sm) and (max-width: $md-max) {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: flex-end;
            }

            .form__group {
                @media (min-width: $sm) and (max-width: $md-max) {
                    width: 48%;

                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }

    &__succes {
        display: none;

        &-wrap {
            color: $white;

            @media (min-width: $sm) and (max-width: $md-max) {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .promo__succes-btn {
                    width: 100%;
                    margin-top: 0;
                }

                .promo__succes-title {
                    width: 340px;
                }

                >.text-base {
                    width: 250px;
                }
            }
        }

        &-btn {
            margin-top: 50px;
        }
    }
}