.social {
    @extend .list-reset;
    display: flex;
    align-items: center;

    &__item:not(:first-child) {
        margin-left: 8px;
    }

    &__link {
        display: flex;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $white;
        color: $medium;
        font-size: 0;

        > .icon {
            margin: auto;
            font-size: 16px;
        }

        &:hover, &:focus {
            background-color: $green;
            color: $white;
        }
        &:active {
            > .icon {
                opacity: 0.5;
            }
        }
    }
}