footer.footer
    .footer__top
        .container.footer__top-inner
            .footer__top-col
                span.text-small.footer__top-text Scanbot.ru +7 495 600-54-32 
                
                include ./_social

            ul.footer__list
                li.footer__item.text-small Общество с ограниченной ответственностью «Автоматические технологии». Москва, Столешников переулок, д. 10
                li.footer__item.text-small Юридический адрес 127247, Москва, Дмитровское шоссе, д. 100, стр.3, пом. I, комн. 24
                li.footer__item.text-small ОГРН 0000000000<br> ИНН 0000000

    .footer__bottom
        .container.footer__bottom-inner
            span.text-micro.footer__bottom-item &copy; Scanbot 2018
            .footer__logo.footer__bottom-item
                span.text-micro В партнерстве с
                img(src=pathImage + "forex.svg", alt="")
            span.text-micro.footer__bottom-item.footer__bottom-item--margin Не является брокером
            .footer__bottom-item.footer__bottom-item--width
                button.btn.footer__link.text-micro(data-modal="#offer") Оферта
                button.btn.footer__link.text-micro(data-modal="#contract") Пользовательское соглашение


