header.header.hero__header
    .container.header__inner
        a(href="").logo
            img(src=pathImage + "logo.svg", alt="")
            span.logo__text Scan&nbsp;
                span.logo__color bot

        a(href="mailto:").btn-circle.header__mail.btn-circle
            span.btn-circle__icon
                +icon("mail")
            span.header__mail-text.text-small.hidden-tab Написать письмо

        include ../common/_social

        a(href="tel:+74956005432").btn-circle.header__phone
            span.btn-circle__icon
                +icon("phone")
            span.header__phone-text.hidden-tab +7 495 600-54-32

        a(href="").header__chat
            span.header__chat-text.text-small.hidden-tab Онлайн-чат
            .btn.btn-chat
                span.btn-chat__lock
                    +icon("lock")
                span.btn-chat__tg
                    +icon("telegram")
