.modal#form-order
    form.form.form--modal
        .form__group
            label(for="name").form__label Ваше имя
            input.form__input(id="name" type="text" )
        .form__group
            label(for="phone").form__label Телефон для связи
            input.form__input(id="phone" type="tel" placeholder="+7 (     )")
        .form__group
            label(for="email").form__label Адрес эл. почты
            input.form__input(id="email" type="email" )
        .form__text.text-micro Нажимая на кнопку, я принимаю условия 
            button.btn.btn-text(type="button" data-modal="#contract") пользовательского соглашения
        .form__group
            button.btn.btn-main.js-form-submit(type="submit" disabled) Отправить заявку


.modal#form-order-succes
    h3 Заявка на установку принята!
    p.text-base Наш специалист свяжется с вами и настроит робота после оплаты счета
    a(href="").btn.btn-main Оплатить

.modal.modal--video#video-1
    .modal__video
        <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/P2m5qScK18Y" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

.modal.modal--video#video-2
    .modal__video
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/9KDa5EcEIDg" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>


.modal.modal--text#offer
    h2 Публичная оферта
    p.text-base ScanBot, расположенный на доменном имени www.scanbot.ru, принадлежащий ООО Автоматические технологии, ОГРН 000000000, именуемый в дальнейшем  «Компания», публикует настоящий договор об оказании интеллектуальных услуг на подключение программного кода дистанционным способом на счета Клиентов.
    h3.h4 Оглавление

    ol
        li Уведомление о рисках
        li Основные понятия
        li Предмет договора
        li Права и обязанности клиента
        li Права и обязанности компании
        li Вознаграждение компании
        li Расходы сторон
        li Форс-мажорные обстоятельства
        li Конфиденциальность договора
        li Заключительные положения

    ol
        li Уведомление о рисках:
            ol
                li Торговые операции на финансовых рынках связанных с высокой степенью риска.  Клиент признает, что его решения и/или действия/бездействия могут привести к его личным финансовым потерям, связанными с этими рисками.
                li Настоящее уведомление описывает наиболее распространенные виды рисков, но в нём не может быть раскрыта вся информация обо всех потенциальных рисках вследствие их разнообразия.
                li Риск использования кредитного плеча.
                    ol
                        li При совершении торговых операций на условиях маржинальной торговли сравнительное небольшое изменение курса может принести как значительную прибыль, так и убытки.
                        li При движении рынка против позиции Клиента, существует риск потери всех депонированных на счёт средств.
                        li Клиент несет полную ответственность за использование своих финансовых ресурсов, выбранную стратегию и должен учитывать все риски, связанные с использованием кредитного плеча.
                li Технические риски.
                    ol
                        li Клиент принимает на себя риски финансовых потерь по причине неисправностей информационных сетей, электронных и иных систем.
                        li Клиент принимает на себя риски финансовых потерь, которые могут возникнуть вследствие сбоев в аппаратных средствах, программном обеспечении и плохого качества связи на стороне Клиента.
                        li Клиент несет ответственность  за понесенные им финансовые потери вследствие незнания инструкций, описанных в «Руководстве пользователя» по клиентскому терминалу.
                li Коммуникационные риски.
                    ol
                        li Клиент принимает на себя риски, связанные с несанкционированным доступом к посылаемой Клиентом информации (через электронную почту или службу мгновенных сообщений), если она передана в незашифрованном виде.
                        li Клиент несет полную ответственность за сохранность конфиденциальной информации, полученной от компании, и принимает на себя риски финансовых потерь, вызванных несанкционированным доступ к торговому счёту со стороны третьих лиц.
                li Форс – мажорные обстоятельства.
                    ol
                        li Компания не несет ответственности за действия третьих лиц, способных оказать влияние на взаимоотношения между компанией и Клиентом.
                        li Клиент принимает на себя риски финансовых потерь, вызванных форс-мажорными обстоятельствами: военными действиями, террористическими актами, стихийными бедствиями приостановкой торгов на финансовых рынках,  резким снижением ликвидности вследствие нестабильности на финансовых рынках, валютными интервенциями, изменениями в законодательстве, изменений условий контрагентов и др.
                        li Компания не несет перед  Клиентом ответственности за любые действия или бездействия со стороны третьих лиц, а также за убытки, понесенные клиентом в результате любых действий или бездействий со стороны третьих лиц, если только эти убытки не являлись результатом умышленного неисполнения своих обязанностей, мошенничества или грубой халатности со стороны Компании.
                        li Компания также не несет ответственности за неблагоприятные последствия для Клиента по причине неплатежеспособности  и/или банкротства третьих лиц.

        li Основные понятия в рамках настоящего договора:
            ol
                li Компания – ООО Автоматические технологии.
                li Клиент – любое физическое или юридическое лицо, в независимости от организационно – правовой формы.
                li Программный код – специальный программный код, разработанный партнерами и специалистам ООО Автоматические технологии, являющийся результатом интеллектуальной деятельности и принадлежащий на праве собственности. Подлежит защите в соответствии с действующим гражданским и уголовным законодательством РФ и за ее пределами. Предназначен для работы (совершения автоматических сделок на клиентском счету) на рынке Forex.
                li Рынок Forex (Форекс, рынок Форекс) - рынок межбанковского обмена валюты по свободным ценам (котировки формируются без ограничений).
                li Партнерский брокер – Юридическое лицо E-Global Trade & Finance Group, Inc, оказывающий свои услуги под брендом Forex4you.
                li E-Global Trade & Finance Group, Inc – Компания E-Global Trade & Finance Group, Inc (“E-GLOBAL”) имеет Лицензию на предоставление финансовых услуг и регулируется Комиссией по финансовым услугам (“FSC") в соответствии с Законом о ценных бумагах и инвестиционном бизнесе, 2010 (Securities and Investment Business Act, SIBA), действующим на территории Британских Виргинских островов. Данный шаг был инициирован компанией E-GLOBAL с целью получения статуса полностью регулируемой компании, а также с целью обеспечения безопасности инвестиционных брокерских услуг, предоставляемых клиентам. 
                li Оплата размещения программного кода – обязательный, единоразовый платёж в размере 25000 (двадцать пять тысяч) рублей. Является одинаковым платежом для каждого Клиента. Не один из Клиентов не может быть освобожден от уплаты данного платежа.
                li Мониторинг – постоянное онлайн наблюдение за результатами торговой системы для ее оценки и прогнозирования результативности.
                li Клиентское соглашение – Документ регулирующий взаимоотношения между Клиентом Компании и Партнерским брокером.
                li Электронные каналы связи – это те каналы связи, которые для передачи данных используют информационные и компьютерные сети. К ним относятся: электронная почта, чаты, звонки по телефону, любые носители информации, группы или сообщества в сети интернет, а так же сайты.
                li ВПС – сервер, расположенный в глобальной сети Интернет, на котором установлен Программный продукт Компании, для совершения сделок на счетах Клиентов. Один ВПС используется для одного счета Клиента. Каждый ВПС оплачивается отдельно, согласно п. 4.2.3. настоящей Публичной оферты.
                li Компания является налоговым агентом в Российской Федерации в части уплаты налогов со своей прибыли.
                li С прибыли клиента Компания не может платить или изымать налог, так как счёт принадлежит Клиенту. Клиент должен самостоятельно устанавливать взаимоотношения с налоговыми органами в части свой прибыли.
                li Все денежные суммы и цены, указанные в настоящей Публичной оферте, должны оплачиваться в рублях РФ. Если иное не указано в выставленном Счёте.


        li Предмет настоящего Договора:
            ol
                li Компания обязуется подключить к личному торговому счету Клиента программный код, а Клиент обязуется оплатить вознаграждение Компании в сроки и на условиях, предусмотренной настоящей офертой в разделе 6 и 8.
                li Компания информирует Клиента, о существующих рисках использования алгоритма посредством передачи Мониторинга.
                li Компания информирует Клиента, о том что, полученные доходы в прошлом, не могут быть гарантом получения доходов в будущем.
                li Компания информирует Клиента, о том что, торговля на рынке Форекс может не подходить для всех инвесторов. Компания информирует Клиента, о том что,  он (Клиент) должен инвестировать только те денежные средства, которые он (Клиент) может потерять.
                li Компания информирует Клиента, о том, что подключенный программный код является результатом интеллектуальной деятельности и подлежит защите в соответствии с действующим гражданским и уголовным законодательством РФ.
                li Компания информирует Клиента,  о том, что инвестиции могут носить невозвратный характер.
                li Компания информирует Клиента, о том, что Компания имеет право в одностороннем порядке отказать Клиенту в предоставлении услуг без объяснения причины.
                li Компания информирует Клиента, о том, что Компания имеет право отказать в предоставлении услуг в случае, если Клиент начал ретрансляцию сделок, совершаемых программным кодом.

        li Права и обязанности Клиента:
            ol
                li Клиент вправе:
                    ol
                        li Знакомится со всеми документами Компании, связанными с деятельностью по предоставлению программного кода.
                        li Запрашивать в электронном виде информацию о деятельности Компании связанную с предоставлением программного кода.
                        li Запрашивать личную, защищенную ссылку на мониторинг торгового счета.
                        li Получать консультации по вопросам работы с Брокером – партнёром через электронные каналы связи.
                        li Открывать дополнительные торговые счета у Брокера – Партнера.
                li Клиент обязан:
                    ol
                        li Открыть торговый счёт у Брокера – партнера по специальным стандартам, предоставленным Компанией.
                        li Предоставить достоверную информацию для заключения настоящего договора.
                        li Самостоятельно оплачивать размещение каждого торгового счёта, на ВПС – сервере.
                        li Предоставить торговый логин и пароль от торгового счёта на официальную почту Компании – support@scanbot.ru.
                        li Самостоятельно оплачивать ресурс ClusterDelta.
                        li Не осуществлять самостоятельную торговлю на подконтрольном счету. В этом случае Компания снимает с себя всю ответственность за работу собственного алгоритма.
                        li Не использовать специализированные ресурсы для передачи сделок совершаемым программным кодом.
                        li Самостоятельно пополнять/выводить денежные средства с брокерского счета.
                        li Клиент обязуется, что средства находящиеся на торговом счету не обременены никакими обязательствами, являются его собственностью и получены исключительно на законных основаниях.

        li Права и обязанности Компании:
            ol
                li Компания вправе:
                    ol
                        li Запрашивать всю необходимую информацию у Клиента как в письменной (электронной) так и в устной форме.
                        li Регулировать работу программного кода в случае необходимости.
                li Компания обязана:
                    ol
                        li После поступления средств по единоразовому платежу, Компания в течении 3-х рабочих дней обязуется установить программный код на счет клиента.
                        li Принять у Клиента и проверить информацию для подключения программного кода.
                        li Подключать программный код к каждому открытому торговому счету только после полной оплаты единоразового платежа за каждый счет.
                        li Ознакомить Клиента с Приложениями настоящей оферты.

        li Вознаграждение Компании:
            ol
                li Вознаграждение Компании составляет 25 000 (двадцать пять тысяч) рублей за каждый программный код, установленный на счет Клиента, на котором осуществляется торговля с помощью программного кода.
                li Расчеты между Клиентом и Компанией производятся в российских рублях. Путем перечисления денежных средств на счет Компании.
                li Компания не является плательщиком НДС (глава 26.2 Налогового Кодекса Российской Федерации).
                li Соглашаясь с условиями настоящей оферты Клиент подтверждает, что информирован и ознакомлен с правилами настоящего договора.

        li Расходы сторон:
            ol
                li Все расходы по подключению и работе программного кода являются обязательными платежами Клиента.
                li При внесении денежных средств на депозит торгового счета у брокера-партнера могут отличаться курсы валют.
                li Клиент обязан полностью соблюдать условия «Клиентского соглашения» с брокером-партнером.
                li При выводе денежных средств на личный счет Клиента, брокер-партнер имеет право вывода по внутреннему курсу, в таком случае возникшие убытки при конвертации (только в случае оплаты вознаграждения Исполнителя) Стороны несут в равных долях.

        li Форс-мажорные обстоятельства:
            ol
                li Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение своих обязательств по настоящей оферте в том случае, если это неисполнение или ненадлежащее исполнение было вызвано обстоятельствами непреодолимой силы (стихийные бедствия, военные действия, эпидемии, изменения в законодательстве, решение органов государственной или местной власти и др.), которые возникли после заключения настоящей оферты и которые стороны не могли предвидеть, ни предотвратить.

        li Конфиденциальность оферты:
            ol
                li Каждая из Сторон принимает на себя обязательство никакими способами не разглашать конфиденциальную информацию другой Стороны, к которой она получила доступ при заключении данной оферты.
                li Клиент, подписывая настоящую оферту дает согласие на обработку и хранение своих персональных данных.

        li Заключительные положения:
            ol
                li Любые изменения и дополнения к настоящему договору действительны лишь при условии, что они совершены в письменной форме и подписаны уполномоченными на то представителями Сторон.
                li Каждая из Сторон действует добровольно, самостоятельно, настоящий договор не является кабальной сделкой для Сторон, Стороны осознают суть настоящей оферты, Стороны не заблуждаются относительно условия настоящей оферты.
                li Стороны, в случае изменения почтовых адресов, а также реквизитов любой из Сторон, обязуются уведомить об этом другую Сторону в течении 5(пяти) рабочих дней в письменной форме.
                li Клиент подтверждает, что денежные средства перечисленные на личный торговый счет Клиента не являются денежными средствами полученными преступным путем, а также что средства не являются кредитными (заемными), а являются личными денежными средствами Клиента.



.modal.modal--text#contract
    h2 Политика обработки персональных данных
    p.text-base Настоящая Политика обработки персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую сайт «scanbot.ru» и их поддомены (далее — Сайт), расположенный на доменном имени «scanbot.ru» и их поддоменах, может получить о Клиенте во время использования Сайтов.
    
    ol
        li Предоставление информации Клиентом.
            ol
                li Отправляя сообщения при помощи формы обратной связи, Клиент предоставляет следующую информацию:
                    ul
                        li Имя, номер контактного телефона.

                li Предоставляя свои персональные данные Клиент соглашается на их обработку в целях исполнения предоставления услуг, а также соглашается на получение сообщений рекламно-информационного характера.
                
                li Мы используем предоставленные Клиентом данные в целях:
                    ul
                        li предоставления консультаций по товарам и услугам;
                        li обработки Заказов Клиента и для выполнения своих обязательств перед Клиентом;
                        li для осуществления деятельности по продвижению товаров и услуг;
                        li оценки и анализа работы Сайтов.

        li Предоставление и передача информации, полученной нами от Клиента:
            ol
                li Мы обязуемся, что передача полученной от Клиента информации третьим лицам будет осуществлена только в рамках выполнения заказа Клиента на нашем сайте.
                li Не считается нарушением обязательств передача информации в соответствии с обоснованными и применимыми требованиями законодательства Российской Федерации.
                li Мы не несем ответственности за сведения, предоставленные Клиентом на Сайтах в общедоступной форме.

        li Дополнительные условия.
            ol
                li Администрация Сайтов вправе вносить изменения в настоящую Политику конфиденциальности без согласия Клиента.
                li Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайтах, если иное не предусмотрено новой редакцией Политики конфиденциальности.
                li Действующая Политика конфиденциальности размещена на странице по адресу «scanbot.ru/politika-obrabotki-personalnyh-dannyh» и подобных страницах поддоменов Сайтов.

