ul.socail
    li.social__item
        a(href="").social__link Facebook
            +icon("fb")
    li.social__item
        a(href="").social__link Вконтакте
            +icon("vk")
    li.social__item
        a(href="").social__link Instagram
            +icon("in")
    li.social__item
        a(href="").social__link Youtube
            +icon("youtube")